@import url("https://fonts.googleapis.com/css2?family=SN+Pro:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-main: "SN Pro", system-ui, sans-serif;

  --color-dark-red: #792222;
  --color-grey: #FF89F0;
  --color-white: #FFFFFF;
  --color-dark-grey: #1B1E26;
  --color-light-grey: #D8D8D8;
}